<header class="header-bar">
  <div class="logo">
    LOGO GOES HERE
  </div>
  <div class="menu">
    <a href="#mainNav" class="open-menu-button icon-ellipsis-vert"></a>
    <a href="#" class="close-menu-button icon-cancel"></a>
  </div>
</header>
