<nav class="navigation">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">Oil &amp; Natural Gas</a></li>
    <li><a href="#">Wind &amp; Solar</a></li>
    <li><a href="#">Nuclear</a></li>
    <li><a href="#">Infrastructure</a></li>
  </ul>
</nav>
