.navigation {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: -20rem;
  height: 20rem;
  background-color: $utility-color;
  font-size: 1.6rem;

  a {
    color: $white;
  }
}

.navigation {
  transition: top 1s ease;
}

#mainNav:target {
  top: 0;
}

#mainNav:target + .page-wrap {
  top: 20rem;
  transition: top 1s ease;

  .open-menu-button {
    display: none;
  }

  .close-menu-button {
    display: inline-block;
  }
}

.header-bar {
  height: 5rem;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: $utility-color;

  .logo {
    display: inline-block;
  }

  .menu {
    display: inline-block;
    line-height: 5rem;
    right: 0;
    position: absolute;

    a {
      text-decoration: none;
      font-size: 2em;
    }
  }

  .open-menu-button {
    display: inline-block;
  }

  .close-menu-button {
    display: none;
  }
}
