*{
  padding:0;
  margin:0;
}

html,
body {
  background-color: $white;
  padding: 0;
  margin: 0;
  font-family: $body-font;
  font-size: 10px;
  height: 100%;
  width: 100%;
}

.page-wrap {
  width: 100%;
  position: relative;
  min-width: 100rem;
  top: 0;
  transition: top 1s ease;
  font-size: 1.6rem;
}

.content-container {
  padding-top: 10rem;
}

.box {
  display: flex;

  .cell {
    display: table-cell;
    flex: 1;
    flex-direction: column;
    position: relative;

    //vertical alignment to middle
    vertical-align: middle; // table
    justify-content: center; // flexbox

    html.flexbox-container & {
      display: flex;
    }

    &.top-align {
      vertical-align: top; //table
      justify-content: flex-start; //flexbox
    }

    &.bottom-align {
      vertical-align: bottom; //table
      justify-content: flex-end; //flexbox
    }

    &.left-align {
      text-align: left;
    }

    &.right-align {
      text-align: right;
    }

    &.centered {
      text-align: center;
    }

    // make a cell double width
    // so far only works when flexbox works
    &.double {
      flex-grow: 2; //dont know the table fallback...
    }

    &.triple {
      flex-grow: 3;
    }

    &.half {
      flex-grow: 0.5;
    }
  }
}

a {
  color: $link-color;
  line-height: inherit;

  &:hover,
  &:active,
  &:visited {
    color: $link-hover;
  }
}
